@define-color foreground-color-main 		#ecf39e ;
@define-color foreground-color-secondary 	#90a955 ; 
@define-color middle 				#4f772d ;
@define-color background-color-main 		#132a13 ; 
@define-color background-color-secondary 	#31572c ;


